.post {
    width: 30%;
    height: 120px;
    float: left;
    background: #fff;
    display: block;
    margin-right: 2%;
    margin-bottom: 40px;
}
.thumb {
    width: 100%;
    height: 120px;
}
.title-block {
    padding: 5px 10px;
    line-height: 1.3;
    a {
        color: rgb(59, 59, 59);
        font-size: .75em;
        text-decoration: none;
        transition: color 0.25s linear;
        -webkit-transition: color 0.25s linear;
        -moz-transition: color 0.25s linear;
    }
    a:hover {
        color: #7253ed;
    }
}