.post {
    width: 30%;
    height: 120px;
    float: left;
    background: #fff;
    display: block;
    margin-right: 2%;
    margin-bottom: 40px;
}
.thumb {
    width: 100%;
    height: 120px;
    overflow:hidden;
    background: #000;
    a {
        display: block;
        position: relative;
    }
    img {
        display: block;
        transition: .5s ease;
    }
    img:hover{
      opacity: 0.3;
    }
}
.thumb:hover .mini-tags{
  opacity: 1;
}
.title-block {
    padding: 5px 10px;
    line-height: 1.3;
    a {
        color: rgb(59, 59, 59);
        font-size: .75em;
        text-decoration: none;
        transition: color 0.25s linear;
        -webkit-transition: color 0.25s linear;
        -moz-transition: color 0.25s linear;
    }
    a:hover {
        color: #7253ed;
    }
}
.date-tag {
    color: #fff;
    background: #806cce;
    display: block;
    width: fit-content;
    position: absolute;
    top: 0px;
    padding: 2px 3px 0px 3px;
    font-size: 11px;
    font-weight: 200;
}
.intro {
    background: rgb(241, 241, 241);
    padding: 15px;
    font-weight: 300;
    color: #575757
    ul {
        list-style-type: none;
    }
    li {
        color: white;
        background: rgb(49, 49, 49);
        display: inline-block;
        padding: 5px;
    }
}

.stackbox{
  background: #f8f8f8;
  padding: 20px 10px;
}
.skillsum{
  padding: 10px;
}

.tags {
  padding-top: 0.4em;
  padding-left:2px !important;
  li {
    display: inline;
    list-style-type: none;
    background: #292929;
    padding: 8px;
    color: #d4c2d3;
    letter-spacing: 0.03em;
    border-radius: 2.5px;
    font-size: 0.85em;
    margin-right: 2px;
  }
  li::before {
    content: none !important;
  }
}

.site-footer {
  display: none;
}

.post-date {
  position: relative;
  span {
    position: absolute;
    top: -25px;
    right: 0px;
    font-size: 0.8em;
    color: #8c73a0;
  }
}

.mini-tags {
  position: absolute;
  top: 75px;
  padding-left:12px !important;
  opacity: 0;
  transition: .7s ease;
  li {
    list-style-type: none;
    background: #806cce;
    padding: 1px 5px;
    color: #e5e5e5;
    letter-spacing: 0.03em;
    border-radius: 2.5px;
    font-size: 0.7em;
    margin: 4px 2px;
    display:inline-block;
  }
  li::before {
    content: none !important;
  }
}

.header-links {
  list-style-type: none;
  li {
    display: inline-block;
    margin-left:8px;
    a{
      margin-top: 10px;
      display: block;
      svg {
        fill: #d0d0d0;
        transition: .4s ease;
      }
    }
    a:hover svg{
      fill: #806cce;
    }
  }
}