---
layout: default
---
{{content}}

<div class="tab-wrap">

  <!-- active tab on page load gets checked attribute -->
  <input type="radio" id="tab1" name="tabGroup1" class="tab" checked>
  <label for="tab1">Graphics 3D</label>

  <input type="radio" id="tab2" name="tabGroup1" class="tab">
  <label for="tab2">Data Science</label>

  <!--<input type="radio" id="tab3" name="tabGroup1" class="tab">
  <label for="tab3">Long</label>-->

  <div class="tab__content">
    <h3>Short Section</h3>
    <ul>
      <li>OpenGL</li>
      <li>rednered heightmaps</li>
      <li>Created 3D games with common 3d engines: Unity, Unreal</li>
      <li>implement gameplay mechanics and logic</li>
      <li>Languages: c++, Python, C#</li>
      <li>5+ years proffesional coding experience, coding with, production code</li>
      <ul>
        <li>making code scalable code, utilizing cloud services, working in a team using git branches reviews</li>
        </ul>
      </u>
      <li>Experience working in skrum settings</li>
      <li>3D based math (linear algebra,)</li>

    </ul>
  </div>

  <div class="tab__content">
    <h3>Medium Section</h3>
    <p>Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>

    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Morbi mattis ullamcorper velit. Pellentesque posuere. Etiam ut purus mattis mauris sodales aliquam. Praesent nec nisl a purus blandit viverra.</p>
  </div>

  <!--<div class="tab__content">
    <h3>Long Section</h3>
    <p>Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>

    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Morbi mattis ullamcorper velit. Pellentesque posuere. Etiam ut purus mattis mauris sodales aliquam. Praesent nec nisl a purus blandit viverra.</p>

    <p>Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>

    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Morbi mattis ullamcorper velit. Pellentesque posuere. Etiam ut purus mattis mauris sodales aliquam. Praesent nec nisl a purus blandit viverra.</p>
  </div>-->

</div>

